# Python byte-compiled files
__pycache__/

# Model data - usually large files
model_data/

# Virtual environment folders
.venv/
venv/
env/

# IDE/Editor specific settings
.vscode/
.idea/

# Bỏ toàn bộ thư mục phụ thuộc Node.js
node_modules/

.env
certs1/192.168.0.104-key.pem
certs1/192.168.0.104.pem
package-lock.json
